.usercards {
  background-color: #f1f2f5;
  width: 95%;
  margin: auto;
}

.usercards__card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.usercard {
  border-style: none !important;
  height: 380px;
}

.MuiSelect-select {
  min-width: 50px !important;
}

.usercard__middle {
  margin: 35px;
}
